/*--Autotask--*/
body.autotask {
	padding-top: 0px;
}
.autotask .product-features, .autotask .icon-col-heading {
	border-color: #CCCCCC;
}
.autotask .light-bg,
.autotask .table-striped>tbody>tr:nth-child(odd)>td {
	background-color: #0e1b32;
	background-image: none;
}
.autotask .dark-bg {
	background-color: #0e1b32;
}
.autotask .dark-color {
	color: #0e1b32;
}
.autotask .mid-color {
	color: #FFF; 
}
.autotask .hero-img {
    display:block;position:absolute;z-index:-1;
    min-width:100%;
    min-height:100%;
    background:transparent url('/images/bg-hero-brand-autotask.png') center center no-repeat;
    background-size:cover;
}
.hero .btn {
    background: rgba(0,0,0,0.5);
}
.hero .btn:hover {
    background: rgba(0,0,0,0.7);
}
.puzzle-container {
	margin-bottom: 18%;

}
.puzzle-left {
	position:absolute;
	right: -2.8%;
}
.puzzle-right {
	position:absolute;
	left: -2.5%;
}
.no-border {
    border: none;
}
#banner.banner-video {
color: #fff;
height: 500px;
background: transparent url('../images/autotask-landing-no-video.png') left top no-repeat;
background-size: cover;
}

#banner {
position: relative;
z-index: 1;
background: #ddd no-repeat center bottom;
color: #333;
overflow: hidden;
}

#banner .video {
position: absolute;
top: 0;
right: 0;
left: 0;
z-index: 0;
min-height: 500px !important;
}

#banner .video video {
display: block;
}
.inner {
width: 940px;
margin: auto;
position: relative;
}
#banner .inner {
padding: 120px 0 230px 0;
height: 270px;
overflow: hidden;
position: relative;
z-index: 4000;
}
#banner .inner .product-main {
background: #343334;
border:none;
margin:0;
padding:0;
text-shadow: 0 1px 1px #000;
}
#banner .inner .product-main h2,
#banner .inner .product-main p {
color: #CCC;
color: rgba(255.255.255,0.9);
}
#banner.banner-video .inner {
padding: 50px 0 10px;
height: auto;
}
.subtitle_big {
font-size: 25px !important;
line-height: 30px !important;
padding-top: 50px;
}
#banner .subtitle {
font-weight: 300;
font-size: 20px;
line-height: 30px;
margin-bottom: 28px;
width: 440px;
}
#banner.banner-video .subtitle {
text-shadow: 0 2px 1px rgba(0,0,0,0.4);
}
.arrow-cover-top {
    position: absolute;
    top: -2%;
    width: 100%;
    text-align: center;
}
.footer-signup-link .title,.footer-signup-link .description {
    color:#FFF;
}


@media (max-width: 1100px) { 
    #banner.banner-video {
        height: auto;
    }
    
    #banner.banner-video .inner {
        position: absolute;
        z-index: 40;
        top: 0;
        right: 0;
        left: 0;
    }
    
    #banner.banner-video .video {
        position: relative;
    }

}

@media (max-width: 1024px) { 
    #banner.banner-video .inner {
        padding: 50px 20px;
    }

}

@media (max-width: 991px) { 
    .inner {
        width: auto !important;
        margin: 0 16px;
    }
    
    #banner .video {
        min-height: 350px !important;
    }
    
    #banner {
        background-size: cover;
    }
    
    #banner .inner,#banner.text-right .inner {
        text-align: center;
        padding: 30px 30px 0;
        height: 400px;
        width: auto;
    }
    
    #banner.banner-video .inner {
        padding: 40px 10px 0;
    }
    
    #banner h1 {
        font-size: 40px;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    
    #banner .subtitle {
        font-size: 18px;
        line-height: 1.5;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 0 !important;
    }
    
    #banner .subtitle_big {
        padding-top: 0;
    }
    
    #banner .action {
        display: inline-block;
        min-width: 80px;
        margin: 20px auto 0;
    }
    
    #banner .arrow {
        display: block;
        position: static;
        margin: 40px auto;
    }

}



@media (max-width: 767px) {
    h2 {
        font-size: 26px;
    }
    
    p {
        font-size: 18px;
    }
    
    #banner .video {
        min-height: 301px !important;
    }
    
    #banner h1 {
        font-size: 35px;
        line-height: 1.1;
        margin-bottom: 10px;
    }

}

@media (max-width: 600px) { 
    #banner.banner-video .action {
        display: none;
    }
    
    #banner .video video {
        min-width: 550px;
    }
    
    .video_button a {
        padding: 7px 10px;
        font-size: 10px;
    }
    #banner .inner .product-main h2 {

    }

}

@media (max-width: 450px) { 
    #banner.banner-video .inner {
        padding-top: 6%;
    }
    
    #banner .subtitle {
        width: 100%;
    }

}
