body {
    padding: 0;font-size:16px;
}
.mobile-only {
    display:none;
}
.newconsole .header-banner {
    max-height: 100vh
}

.newconsole .header-banner {
    max-height: 100vh
}

.pointer {
    position: relative;
    top: -320px;
    margin: 0 auto;
    width: 100%;
    text-align : center;
    margin: 0 auto;
    left: 0;
    display: block;
    opacity: 0.5;
    text-shadow: none;
}
.pointer i {
    color: #fff;
    font-size: 6em;
}

.mplogo {
    top: 0;
    left: 0;
    width: 270px;
    z-index: 10;
    position: absolute;
}

@media (max-height:700px) {
    .newconsole .header-banner {
        min-height: 700px
    }
}

@media (max-width:425px) {
    .newconsole .header-banner {
        min-height: 0 !important
    }
}

.newconsole .header-banner video {
    z-index: -1
}

.newconsole .header-banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4)
}

@supports (-webkit-overflow-scrolling:touch) {
    .newconsole .header-banner {
        background-image: url('../images/bg-nc-touch.jpg');
        background-size: cover;
        background-position: center center
    }

    @media (max-width:425px) {
        .newconsole .header-banner {
            background-image: url('../images/bg-nc-touch.jpg');
        }
    }

    .newconsole .header-banner video {
        display: none
    }

    .newconsole .header-banner:before {
        display: none
    }
}


#big-video-vid_html5_api {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.header-banner {
    height: 100vh;
    position: relative;
    background-size: 100% 100%;
    width: 100vw;
    text-align: center;
    margin-bottom: 0px
}

.header-banner .header-frame {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden
}

.header-banner .header-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1100px;
    max-width: 100%
}

@media (max-width:1300px) {
    .header-banner .header-content-container {
        width: 900px;
        top: 50%
    }
}

@media (max-width:1190px) {
    .header-banner .header-content-container {
        width: 90%;
        top: 50%
    }
}

.top-button {
    position: fixed;
    top:15px; right:
    15px; z-index:50;
}

.title-btn {
    position: relative;
    margin: 0 auto;
    font-size: 2em;
}


.accent {
    font-size: 23.125em;
    font-weight: 900;
    color: #000;
    font-family: "Times",sans-serif;
    letter-spacing: 5.97px;
    line-height: 200px;
    display: inline-block;
    position: relative;
    left: -10px;
    z-index: 10;
}

.exerpt {
    font-weight: normal;
    color: #4c4d4f;
    letter-spacing: 0;
    line-height: 39px;
    font-size: 16px !important;
    font-size: 1.375em !important;
}
h2 {
    font-size: 2.5em;
    color: #4c4d4f;
    font-weight: 300;
    letter-spacing: .09px;
    line-height: 51px;
    margin: 15px 0 5px !important;
}

.product-main {
    padding: 200px 0;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}


.bg-nc-01,
.bg-nc-03,
.bg-nc-05,
.bg-nc-07,
.bg-nc-09 {
    background-color: #fafafa;
    text-shadow: 1px 1px 25px #fafafa;
}

.bg-nc-02,
.bg-nc-04,
.bg-nc-06,
.bg-nc-08,
.bg-nc-10 {
    background-color: #fff;
    text-shadow: 1px 1px 25px #fff;
}

.bg-nc-01 {
    background:url('../images/screen-nc-01.png') no-repeat left 0;
}
.bg-nc-02 {
    background:url('../images/screen-nc-02.png') no-repeat right 0;
}
.bg-nc-03 {
  background:url('../images/screen-nc-03.png') no-repeat left 0;
}
.bg-nc-04 {
    background:url('../images/screen-nc-04.png') no-repeat right 0;
}
.bg-nc-05 {
    background:url('../images/screen-nc-05.png') no-repeat left 0;
}
.bg-nc-06 {
    background:url('../images/screen-nc-06.png') no-repeat right 0;
}
.bg-nc-07 {
    background:url('../images/screen-nc-07.png') no-repeat left 0;
}
.bg-nc-08 {
    background:url('../images/screen-nc-08.png') no-repeat right 0;
}
.bg-nc-10 {
    background:url('../images/screen-nc-10.png') no-repeat right 0;
}
.bg-nc-01,
.bg-nc-02,
.bg-nc-03,
.bg-nc-04,
.bg-nc-05,
.bg-nc-06,
.bg-nc-07,
.bg-nc-08,
.bg-nc-09,
.bg-nc-10 {
    background-size: cover;
}
@media (max-width: 992px) {
    .bg-nc-01,
    .bg-nc-02,
    .bg-nc-03,
    .bg-nc-04,
    .bg-nc-05,
    .bg-nc-06,
    .bg-nc-07,
    .bg-nc-08,
    .bg-nc-09,
    .bg-nc-10,
    .nobg {
        padding-top: 130px !important;
        padding-bottom: 180px;
        background-image: none;
        border-bottom: 1px solid #e2e2e2 !important;
    }

    .accent {
    font-size: 14em;
    letter-spacing: -1px;
    line-height: 100px;
    width: 100%;
    text-align: center;
    }
    .mobile-only {
        display:block;
    }
  }
}

.big-number {
  font-size: 6em;
  font-weight: bold;
  color: #99cc00;
  display: block;
  width: 150px;
  height: 150px;
  line-height: 1.5em;
  border-radius: 50em;
  border: 2px solid rgba(153, 204, 0,0.3);
  margin: 0 auto 30px auto;
  background: #fff;
}

#migrate,
#ready {
  background: transparent;
  padding-top: 0;
  padding-bottom: 180px;
}

#migrate {
  box-shadow: inset 0 25px 25px -25px rgba(0,0,0,0.4);


}

#ready {
  background: rgba(153, 204, 0,0.1) !important;
  box-shadow: inset 0 25px 25px -25px rgba(0,0,0,0.4);
}

#migrate .hero-img {
  display:block;position:absolute;z-index:-1;
  min-width:100%;
  min-height:100%;
  background:transparent url('../images/bg-illustration-prepare.png') 0 100px no-repeat;
  background-size:cover;
}

#ready .hero-img {
  display:block;position:absolute;z-index:-1;
  min-width:100%;
  min-height:100%;
  background:transparent url('../images/bg-illustration-migrate.png') bottom no-repeat;
  background-size:cover;
}

.btn-success,
.btn-success:active {
    background: #99CC00 !important;
    border: none;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.btn-success:hover {
    background: rgb(119, 158, 0) !important;
}

#ready .btn-green {
  background: rgba(153,204,0,0.8);
  color: #FFF;
  border-color: rgba(153,204,0,0.9);
}

.flexbox-container {
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}


#migrate .row,
#ready .row {
  margin-top: 50px;
}
#migrate .big-heading,
#ready .big-heading {
  font-size: 5em;
  margin-top: 100px;
  padding-top: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.desc-block {
    display: block;
    padding: 15px;
}
.desc-block:not(.last) {
    padding: 40px 15px 60px 15px;
    margin-bottom: 30px;
    border-bottom: 3px solid #e2e2e2;
}

.desc-block-heading {
    font-size: 1.8em;
    letter-spacing: unset;
    font-weight: bold;
}

.desc-block-label {
    font-weight: bold;
    display: block !important;
    color: #ccc;
    clear:both;
    text-transform:uppercase;
    font-size:60%;
    position: relative;
}

.desc-block-title {
    font-weight: bold;display: block;
}

.desc-block-btn {
    font-size: 1.6em;
}

#migrate p.instructions,
#ready p.instructions {
  font-size: 1.375em;
}

#migrate p.instructions b {
  background: #ffffea;
  padding: 3px 6px;
}

#ready p.instructions b {
  background: rgba(153,204,0,0.1);
  padding: 3px 6px;
}
@media (max-width: 992px) {

  #migrate .big-heading,
  #ready .big-heading {
    font-size: 4em;
  }

#migrate .product-col,
#ready .product-col {
  border-bottom: none;
}



  #migrate p.instructions,
  #ready p.instructions {

  }
}


/* VIDEOS and SCHEDULE PAGES */

.back-bar {
    width: 100%;
    background:#fafafa;
    position: fixed;
    top: 0;
    z-index: 10
}
.back-bar .container {
    padding: 0;
    font-size: 1.4em
}
.back-bar .back-link {
    display: inline-block;
    padding: 1em 0.7em;
    color: rgba(0,0,0,0.5);
}

.top-tabs {
    width: 100%;
    background:#fafafa;
    position: relative;
    margin-top: 77px;
    border-bottom: 1px solid #e2e2e2;
}

.top-tabs .tab {
    position: relative;
    top: 3px;
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    background: transparent;
    color: rgba(0,0,0,0.5);
}
.top-tabs .tab:not(.active):hover {
    color: rgba(0,0,0,0.8);
    
}

.top-tabs .tab.active,
.top-tabs .tab.active:hover {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    border-bottom: 2px solid #fff;
    background: white;
    color: rgba(0,0,0,0.8);
    top: 2px;
}


.video-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2em auto;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 2em;
}

.video-thumb {
    width: 168px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 16px;
}

.video-desc {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    min-width: 1px;
}
.video-desc p {
    font-size: 1em;
    line-height: 1.5em;
}

.video-item .thumbnail-container {
    margin: 0 auto;
    height:95px;
    width:168px;
    display: block;
    position:relative;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    text-decoration: none;
}

.video-item .thumbnail-container.video-1 {
    background: url('/images/bg-vid-thumb-placeholder.png');
    background-size: contain;
}

.video-item .thumbnail-container .fa-play-circle {
    margin: 25px 65px;
    display: block;
    font-size: 40px;
    color: black;
    z-index: 10;
    opacity: 0;
    transition: all 0.1s ease-in-out ;
}
.video-item .thumbnail-container:hover .fa-play-circle {
    opacity: 0.8;
    cursor: pointer !important;
}

.video-item .thumbnail-container:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.watched {
    display: none;
    margin-left:15px;
    font-size: 0.9em;
    color: #99CC00;
}

.time-label {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    position: absolute;
    padding: 2px 5px;
    bottom: 0;
    right: 0;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: rgba(0,0,0,0.8)
}
.video-item .thumbnail-container .overlay {
    display: block;
    position: absolute;
    bottom: 0; 
    top: 0;
    left: 0; 
    right: 0;
    background:transparent;
    z-index: 9;
}

.video-item .thumbnail-container.watched .overlay{
    background:rgba(153, 204, 0,0.2);
}
.video-item .thumbnail-container .overlay .status-label {
    display: none;
    position: absolute;
    bottom: 0; 
    left: 0;
    background: transparent;
    color: rgba(0,0,0,0.6);
    font-weight: bold;
    padding: 2px 5px;
    font-size: 0.8em;
}
.video-item .thumbnail-container.watched .overlay .status-label {
    display: block;
}

a.video-title,
a.video-title:hover,
a.video-title:active,
a.video-title:visited {
    font-weight: bold;
    color: black !important;
}
.video-title:hover {
    text-decoration: underline;
}

@media (max-width: 992px) {
    .pointer {
        top: -220px !important;
    }
    .pointer i {
        font-size: 4em;
    }
    .back-bar .container {
        font-size: 1em
    }
    .back-bar .back-link {
        padding: 0.5em 0.7em;
    }
    
    .top-tabs {
        margin-top: 38px;
    }
    
    .top-tabs .tab {
        position: relative;
        top: 3px;
        padding: 0.8em;
        font-size: 0.9em;
    }
    .top-tabs .tab:not(.active):hover {
        color: rgba(0,0,0,0.8);
        
    }
    
    .top-tabs .tab.active,
    .top-tabs .tab.active:hover {
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        border-top: 1px solid #e2e2e2;
        border-bottom: 2px solid #fff;
        background: white;
        color: rgba(0,0,0,0.8);
        top: 2px;
    }
}

@media (max-width: 765px) {

    .mplogo {
        z-index: 10;
        top: 0.75em;
        position: absolute;
        max-width: 40%;
    }

    .desc-block-btn {
        width: 100%;
    }

    .bg-nc-02,
    .bg-nc-03,
    .bg-nc-04,
    .bg-nc-05,
    .bg-nc-06,
    .bg-nc-07,
    .bg-nc-08,
    .bg-nc-09,
    .bg-nc-10,
    .nobg {
        padding-top: 80px !important;
        padding-bottom: 30px;
    }
    .bg-nc-01 {
        padding-top: 30px !important;
        padding-bottom: 30px;
    }

    .header-content-container {
        padding: 3.5em;
    }
    .title-btn {
        font-size: 1.5em;
    }
    .pointer {
        display: none;
    }
    .pointer i {
        display: none;
    }
    #migrate,
    #ready {
    padding-bottom: 30px;
    }

    #migrate .big-heading,
    #ready .big-heading {
    font-size: 3em;
    }

    .video-thumb {
        width: 80px;
        height: 80px;
    }
    .video-item {
        padding-bottom: 0;
    }
    .video-item .thumbnail-container {
        height:80px;
        width:80px;
        background-size: cover !important;
    }

    .video-item .thumbnail-container .fa-play-circle,
    .video-item .thumbnail-container:hover .fa-play-circle {
        margin: 15px 23px;
        opacity: 0.5;
    }
    .video-desc p {
       font-size: 0.8em !important;
       line-height: 1.5em;
    }
}