<footer class="footer container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-6 col-md-3">
                <h4>Company</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ site.baseurl }}/about">About</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/jobs">Jobs</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="http://status.mailprotector.com" target="_blank">Status</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-3">
                <h4>Policies</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ site.baseurl }}/terms">Terms</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/privacy">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix visible-sm visible-xs"></div>
            <div class="col-sm-6 col-xs-6 col-md-3">
                <h4>Contact</h4>
                <ul class="list-unstyled">
                        <li>
                            1-800-393-4840 (US)
                        </li>
                        <li>
                            0800 368 9945 (UK)
                        </li>
                        <li>
                            1-300-361-827 (AU)
                        </li>
                        <li>
                            <a href="{{ site.baseurl}}/contact"><i class="fa far fa-list-alt"></i> full contact info</a>
                        </li>
                    </ul>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-3">
                <h4>Follow</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/mailprotector" target="_blank"><i class="fa far fa-facebook-sign"></i> Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/mailprotector"><i class="fa far fa-twitter-sign"></i> Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="clearfix col-lg-12 legal">
                &copy; Mailprotector All rights reserved.
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-4456416-4']);
        _gaq.push(['_setDomainName', 'mailprotector.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

<script type="text/javascript">
    adroll_adv_id = "HWVN2JRELVFHBKCN7WO5IF";
    adroll_pix_id = "W2ORUSRNTFF3DJVKUQHHGG";
 
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0005/7864.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
