<div class="post-footer">
	<h4 class="text-center">Press Contacts</h4>
	
	<div class="col-md-6">
		<p class="text-center">
			<i class="fa fa-user"></i> <b>Amy Wright</b><br>
			+ 1-864-288-9595<br>
			Mailprotector<br>
			200 N. Main Street, Suite 201<br>
			Greenville, SC 29601 US
		</p>
	</div>

	<div class="col-md-6">
		<p class="text-center">
			<i class="fa fa-user"></i> <b>Scott Tyson</b><br>
			+ 44 (0) 1908 713 420<br>
			Mailprotector UK<br>
			The Pinnacle<br>
			Midsummer Blvd.<br>
			Milton Keynes<br>
			Buckinghamshire MK9 1BP
		</p>
	</div>
</div>
