<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-md-offset-1">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">2014</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="list-group" id="sidebar">
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						    </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2013</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="list-group" id="sidebar">
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						    </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">2012</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="list-group" id="sidebar">
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						    </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">2011</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="list-group" id="sidebar">
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						        <a href="#" class="list-group-item">Article 1</a>
						    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="col-md-3 col-md-offset-1">
    <div class="list-group" id="sidebar">
        <a href="#" class="list-group-item">First News</a>
        <a href="#" class="list-group-item">Responsive</a>
        <a href="#" class="list-group-item">Mobile First</a>
        <a href="#" class="list-group-item">CSS 3</a>
        <a href="#" class="list-group-item">HTML 5</a>
    </div>
</div>
-->