<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 pull-right">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">2014</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="list-group" id="sidebar">
						        <a href="/news/2014/05/12/eac-mailprotector-partnership/index.html" class="list-group-item"><span class="date">may 12</span>EAC teams up with Mailprotector to bring vital email services to businesses across the UK</a>
						        <a href="/news/2014/03/07/scott-tyson-mailprotector/" class="list-group-item"><span class="date">mar 07</span>Mailprotector signs on Scott Tyson as sales director of Europe and EMEA markets</a>
						        
						    </div>
                        </div>
                    </div>
                </div>
                
                <!--
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2013</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="list-group" id="sidebar">
						        <a href="#" class="list-group-item"><span class="date">*** 00</span></a>
						    </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</div>