<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.body_class }}">
    {% include header.html %}

	<div class="product-main">
		<!-- Begin Body -->
		<div class="container">
			<div class="row col-md-8">
			  	<header class="post-header">
			  		
					<h2>{{ page.title }}</h2>
					<span class="meta"><i class="fa fa-bookmark"></i> <b>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</b> | {{ page.location }}</span>
				</header>

				<article class="post-content">
					{{ content }}
				</article>
				{% include post-footer.html %}
			</div>

			{% include sidenav.html %}

		</div>
	</div>

    {% include footer.html %}
  </body>

</html>